Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized so that it can be easily accessed, managed, and updated.
Databases are used to store all sorts of data, from customer records to product inventory to financial transactions.

SQL - In SQL data are stored in relational mode means stored in tables like Excel Sheet.
NoSQL - In NoSQL data are stored in different mode like key-value pair,document stores and graph database.It is often used
         for storing large amounts of unstructured data, such as social media data or sensor data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
 DDL stands for Data Definition Language. It is a set of commands that are used to define the structure of a database.
 DDL commands are used to create, alter, and drop tables, views, and other database objects.

 
 CREATE : It is used to create new Tables.
eg CREATE TABLE table1(name VARCHAR,Age INT,email_id VARCHAR(50));

 DROP : It is used to delete the Tables. 
eg DROP  TABLE table1;

 ALTER : It is used to do changes in Tables like adding new column.
eg ALTER  TABLE table1 ADD COLUMN address VARCHAR;

 TRUNCATE : It is used to delete all the data in Tables but it dont delete the Table itself.
eg  TRUNCATE TABLE table1 ;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. It is a set of commands that are used to manipulate data in
a database. DML commands are used to insert, update, and delete data from tables


INSERT : It is used to insert new data into a table.
eg INSERT INTO table1 (name,age,email_id,address) VALUES('Monu' ,24 ,'smonu0659@gmail.com' , 'new delhi');

UPDATE : It is used to update existing data in a table.
eg UPDATE table1 SET name = 'sonu' WHERE id = 1;

DELETE : It is used to delete  data from table.
eg DELETE  FROM table1 WHERE id = 1

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
 DQL stands for Data Query Language. It is a set of commands that are used to query data from a database. 
 DQL commands are used to select, filter, and sort data from tables.

 SELECT : It is used to select data from a table. 
    eg SELECT name, email
       FROM table1
       WHERE age > 30;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
 A primary key is a column (or a combination of columns) in a table that uniquely identifies each row in the table.
 A foreign key is a column (or a combination of columns) in a table that refers to the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 76.6 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=245bfcdb3cfe90f9787d1e83eac676ed3fb023626c3d458b08c7c37b83a7f922
  Stored in directory: /home/jovyan/.cache/pip/wheels/3e/7f/a3/928a40d1ffd01dd16057f308042377afc505d56145375adf40
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(
    host= 'localhost',
    user = 'abc' ,
    password = 'password')

mycursor = mydb.cursorsor()
mycursor.execute('SHOW DATABASES')
                 
for x in mycursor:
    print(x)

Cursor()method is called on a database connection object and returns a cursor object.The cursor() method
establishes a communication channel between your Python program and the MySQL server, enabling you to send
queries and receive results.

The execute() method is used to execute an SQL query or command. It is called on the cursor object and 
takes the SQL statement as a parameter.
mycursor.execute("SELECT * FROM table_name")

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1.FROM/JOIN
2.WHERE
3.GROUP BY
4.HAVING
5.SELECT
6.ORDER BY
7.LIMIT

eg
SELECT *
FROM users
WHERE age > 18
GROUP BY gender
HAVING COUNT(*) > 10
ORDER BY name ASC
LIMIT 10;